.PhoneButton{
    margin: 10px;
}

.PhoneButton p{
    padding: 10px 5px;
    border-radius: 20px;
    background: #eee;
    cursor: pointer;
    background: white;
    color: blueviolet;
    min-height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    -webkit-touch-callout: none; 
    -webkit-user-select: none;
    -khtml-user-select: none; 
    -moz-user-select: none; 
    -ms-user-select: none; 
    user-select: none; 


}
.PhoneButton p:hover{
    transition: .3s;
    background-color: blueviolet ;
    color: white;
}

.PhoneButton span{
    font-weight: 300;
    font-size: 14px;
}
