.SuggestionHeader h1{
    font-weight: 900;
    font-size: 25px;
    border-bottom: 1px solid blueviolet;
    padding-bottom: 14px;
    margin-bottom: 14px;
    flex:1;
}
.SuggestionHeader{
    display: flex;
    flex-flow: column;

}